<%-include ('header') %>
<div class="container mt-4 myform">
    <div class="main_title">
        로그인
    </div>
    <form name="login_form" action="/auth/login" method="post" autocomplete="off">
        <div class="mb-3" style="margin: 0 50% 0 0; min-width: 250px;">
            <label for="id" class="form-label">아이디</label>
            <input type="text" class="form-control" id="id" name="id" >
        </div>
        <div class="mb-3" style="margin: 0 50% 0 0; min-width: 250px;">
            <label for="pw" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="pw" name="pw" >
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <% if(locals.message) { %>
        <h5 class="alert-regist"><%=locals.message %></h5>
    <% } %>
</div>