<%-include ('header') %>
<div class="container mt-4 myform">
    <div class="main_title">
        비밀번호 확인
    </div>
    <form name="user_update_check_form" action="/auth/user_update_check?u=<%=page_type%>" method="post">
        <div class="mb-3">
            <label for="pw" class="form-label">비밀번호</label>
            <input type="hidden" name="id" value="<%=user.id%>">
            <input type="password" class="form-control regist_text" name="pw" id="pw">
        </div>
        <div class="mb-3">
            <label for="pw_check" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control regist_text" name="pw_check" id="pw_check">
        </div>
        <input type="button" class="btn btn-primary" value="뒤로" onclick="history.back()">
    <% if(page_type === 'delete') { %>
        <input type="button" class="btn btn-primary back_btn" value="탈퇴" onclick="deleteCheck()">
    <% }else if(page_type === 'update') { %>
        <input type="submit" class="btn btn-primary" value="수정">
    <% }else if(page_type === 'password'){ %>
        <input type="submit" class="btn btn-primary" value="비밀번호 수정">
    <% } %>
    </form>
</div>
<script>
    function deleteCheck(){
        if(confirm('게시물을 삭제하시겠습니까?') === true){
            user_update_check_form.submit();
        }else{
            return false;
        }
    }
</script>